 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 
  a {
    text-decoration: none;
  }
  ul {
    list-style: none;
  }
  span{
    color: tomato;
  }
 .footer {
    margin-top: 90px;
    max-width: 1400px;
    margin: 0 auto;
    padding:  10px 20px;
    line-height: 1.6em;
  }
  .footer-content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3rem;
    margin-bottom: 3rem;
  }
  .footer-info {
    max-width: 300px;
  }
  .footer-info h3 {
    font-size: 1.25rem;
    margin-bottom: 1rem;
  }
  .footer-info p {
    color: #555;
    margin-bottom: 1.5rem;
    font-size: 0.9375rem;
  }
  .footer-social {
    display: flex;
    gap: 1rem;
  }
  .footer-social-link {
    color: tomato;
    font-size: 1.25rem;
  }
  .footer-links {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    gap: 2rem;
  }
  .footer-links-group h4 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
  .footer-links-group ul li {
    margin-bottom: 0.5rem;
  }
  .footer-links-group ul li a {
    color: #555;
    font-size: 1rem
  }
  .footer-links-group ul li a:hover {
    color: tomato;
  }
  .footer-address {
    font-size: 1rem;
  }
  .footer-address h4 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
  
  .footer-address address {
    color: #555;
    font-style: normal;
    margin-bottom: 1rem;
  }
  
  .footer-address p {
    color: #555;
  }
  .footer-bottom {
    padding-top: 1.5rem;
    text-align: center;
    font-size: 0.875rem;
    color: var(--color-text-light);
  }
  
  .footer-bottom p {
    margin-bottom: 0.5rem;
  }
  
  .footer-bottom a {
    color: #555;
  }
  
  .footer-bottom a:hover {
    color: tomato;
  }
  
  @media (min-width: 768px) {
     .footer-content {
      grid-template-columns: 2fr 3fr;
    }
  }
   @media (min-width: 1024px){
    .footer-content {
      grid-template-columns: 1fr 2fr;
    }
  
    .footer-links {
      grid-template-columns: repeat(3, 1fr);
    }
   }